* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: #13293d;
    color: #e2c16d;
}


.container {
  display: flex;
  align-items: center;
}

.image {
  width: 100px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust the spacing between the image and text */
}


nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    list-style-type: none;
  }
  
  nav a {
    color: #e2c16d;
    font-weight: bold;
    text-decoration: underline;
  }

  nav a:hover {
    color: #fff;
  }
  
  nav p {
    padding: 14px 20px;
    text-decoration: none;
    display: inline;
  }

  .about-me {
    background-color: rgb(152, 204, 198);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
}


p {
  max-width: 1250px; /* Set a maximum width for the paragraph */
  margin: 0 auto; /* Center the paragraph on the screen */
}

.work {
    background-color: rgb(114, 146, 154);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    position: relative;
    text-align: center;
}

.contact-me {
    background-color: rgb(242, 249, 248);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contact-info {
  display: flex;
  gap: 35px;
  list-style-type: none

}

  footer {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #e2c16d;
}

@media screen and (max-width: 844px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }

  .contact-info {
    display: flex;
    align-content: space-around;
  }
}
 